page{background:#fff;}

/* goods */
.goods{display: flex; border-top: 1px solid #efefef;}

.fotter{
	background-color: #fff;
	    border-bottom: 3px solid #f4f4f4;
}
/* list */
.goods_list{ width: 100%; padding: 0 28rpx;}
.goods_list .item{background-color: #ffffff; display: flex; align-items: center; border-bottom: 1rpx dashed #efefef; padding: 28rpx 0;}
.goods_list .item_pic{width: 30%; border-radius: 16rpx;}
.goods_list .item_box{width: 66%; margin-left: auto;}
.goods_list .item_title{font-size: 28rpx; height: 72rpx; line-height: 36rpx; overflow: hidden;}
.goods_list .item_price{font-size: 28rpx; margin-top: 12rpx; font-family: din; color:  #F04650;}
.goods_list .item_price::before{content: "￥";}