page{background:#F4F5FA;}
.flex{display: flex; flex-wrap: wrap; align-items: center;}

/* list */
.order{padding: 28rpx; position: relative; z-index: 99; margin-top: 50rpx;}
.order_back{height: 200rpx;}
.order_item{font-size: 25rpx;background-color: #ffffff; margin-bottom: 28rpx;}
.order_item .top{justify-content: space-between; border-bottom: 1rpx solid #efefef; height: 80rpx; line-height: 80rpx; padding: 0 28rpx;}
.order_item .number{color: #999; font-family: din; font-size: 28rpx;}
.order_item .box{padding: 28rpx;}
.order_item .bottom{border-top: 1rpx solid #efefef; padding: 0 28rpx; height: 96rpx;}
.order_item .goods_pic{width: 160rpx; height: 160rpx; border-radius: 12rpx;}
.order_item .goods_content{margin-left: auto; width: 61%;}
.order_item .goods_title{margin-bottom: 10rpx; font-weight: bolder; font-size: 28rpx;}
.order_item .goods_price{color: #F04650; margin-bottom: 10rpx; font-size: 32rpx; font-family: din;}
.order_item .goods_integral{color: #999;  font-family: din;}
.order_item .goods_integral text{margin-left: auto;}
.order_item .state.s_01{color: #F04650;}
.order_item .state.s_02{color: #08d284;}
.order_item .state.s_03{color: #2f70f0;}
.order_item .state.s_04{color: #333;}
.order_item .btn{margin-left: auto;}
.order_item .total{color: #999;}
.order_item .total text{font-size: 32rpx; color: #212121; margin-left: 12rpx; font-family: din;}
.order_item .btn_cell{width: 160rpx;  border-radius: 100rpx; text-align: center; border: 1rpx solid #F04650; line-height: 56rpx; height: 56rpx; color: #F04650; margin-left: 16rpx;}
.order_item .btn_cell:nth-child(2){background: #F04650; color: #fff;}